{% trans_default_domain 'FOSUserBundle' %}

<h1 class="center-align">Mon compte</h1>

<div class="fos_user_user_show card-panel grey lighten-3">
    <img src="{{ asset(user.avatar.webPath) }}"
         alt="{{ user.username }}-avatar"
         class="circle right"
         width="10%">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

<a href="{{ path('fos_user_profile_edit') }}"
   class="waves-effect waves-light btn block-center">
    Modifier
</a>
