{% extends "RmBlogBundle::layout.html.twig" %}

{% block bodyclass %}articles{% endblock %}

{% block body %}

    <a class='dropdown-button btn light-blue lighten-2' href='#' data-activates='dropdown1'>Catégories</a>

    <ul id='dropdown1' class='dropdown-content'>
            <li><a class="light-blue-text text-lighten-1"
                   href="{{ path('rm_blog', {'categorie': 'all'}) }}">Tout afficher</a></li>
        {% for cat in categories %}
            <li><a class="light-blue-text text-lighten-1"
                   href="{{ path('rm_blog', {'categorie': cat.slug }) }}">{{ cat.nom }}</a></li>
        {% endfor %}
    </ul>

    {#<div class="masonry">#}
    <div class="row">
        {% for article in articles %}
            {#<div class="masonry-item">#}
             <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            {% if article.image %}
                                <img src="{{ asset(article.image.webPath) }}">
                            {% else %}
                                <img src="{{ asset('assets/img/no-img.png') }}" alt="article-img">
                            {% endif %}
                            <a class="btn-floating halfway-fab waves-effect waves-light red darken-2"
                               href="{{ path('rm_blog_article', {'nom': article.slug }) }}">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="chip">
                                {{ article.categorie.nom }}
                                <i class="tiny material-icons">local_offer</i>
                            </div>
                            <span class="card-title light-blue-text">{{ article.titre }}</span>
                            <p class="card-description">
                                {{ article.contenu|slice(0, 150)|raw }}...
                            </p>
                            <div class="card-info">
                                <span>Publié le {{ article.publishDate|date('d.m.y') }}</span>
                                {% if article.commentaires|length > 1 %}
                                    <span class="badge" data-badge-caption="commentaires">
                                        {{ article.commentaires|length }}
                                    </span>
                                {% else %}
                                    <span class="badge font-small" data-badge-caption="commentaire">
                                        {{ article.commentaires|length }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% if loop.index is divisible by(3) %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <ul class="pagination center-align">
        {# Précédent #}
        {% if page == 1 %}
        {% else %}
            <li>
                <a href="{{ path('rm_blog', {'categorie': categorie, 'page': page-1}) }}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
        {% endif %}

        {# Numéros de page #}
        {% for i in 1..maxPage %}
            <li class="waves-effect {% if page == i %}active red darken-2 {% endif %}">
                <a href="{{ path('rm_blog', {'categorie': categorie, 'page': i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# Suivant #}
        {% if page == maxPage %}
        {% else %}
            <li class="waves-effect">
                <a href="{{ path('rm_blog', {'categorie': categorie, 'page': page+1}) }}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}