<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Rémi Mafat{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/remimafat.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ path('rm_portfolio') }}" class="brand-logo">Rémi Mafat</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Blog</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                           <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#">Blog</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li><a href="#">Mon compte</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script src="{{ asset('assets/js/remimafat.js') }}"></script>
        {% endblock %}
    </body>
</html>
